.env

# Logs
*.log
*.log.*
/log/
/logs/
/backend/log/
/frontend/log/

# Local databases
/backend/database.db
/backend/database.db-shm
/backend/database.db-wal

/backend/llm-api-frontend-lite.exe
/backend/llm-api-backend.exe